## How long we have to observe stars orbiting the SMBH at the Galactic Center to see 1/2 an orbit at a distance from the black hole of: 0.1", 0.5", 1.0", 2.0"

#### [Milo] Juan Camilo Buitrago-Casas

Distance to the center of the Milky Way: 8kpc

In [48]:
from math import pi
import numpy as np 
import pandas as pd

M = 4.1e6 #Solar masses
d = 8e3 #pc
r_arcsec = np.array([0.1, 0.5, 1.0, 2.0])
r_pc = d * pi/(180. * 3600.) *r_arcsec
r_au = r_pc * 206264.81

#### The Kepler's third law in AU and years is:

$T^2 = \frac{a^3}{M}$

To observe half of the orbit we need to observe half the period:

$\frac{1}{2}T = \frac{1}{2M}a^{3/2}$

In [46]:
T = 0.5 * (r_au)**(1.5) / M
Td = T * 365.25 # days

In [44]:
Td

array([  1.00788589,  11.2685068 ,  31.87215029,  90.14805439])

In [45]:
r_au

array([   800.00001456,   4000.00007278,   8000.00014556,  16000.00029111])

In [47]:
r_arcsec

array([ 0.1,  0.5,  1. ,  2. ])

In [61]:
How_Long = pd.DataFrame({'Dist. [arcsec]':r_arcsec,'semi-major axis [AU]':r_au,'Time half an orbit [days]':Td})

In [62]:
How_Long

   Dist. [arcsec]  Time half an orbit [days]  semi-major axis [AU]
0             0.1                   1.007886            800.000015
1             0.5                  11.268507           4000.000073
2             1.0                  31.872150           8000.000146
3             2.0                  90.148054          16000.000291